<h1>Users edit</h1>


<%# <form method = "post" action = "/users" accept-charset = "UTF-8" >
  <label for='username'>Username: </label>
  <input type = 'text' name = 'user[username]'>

  <label for='email'>Email Address: </label>
  <input type = 'email' name = 'user[email]'>

  <label for='password'>Password: </label>
  <input type = 'password' name = 'user[password]'>

  <input type = 'submit' value = 'Create'>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token"> 

</form> %>

<%
=begin%>
  <%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username: ") %>
    <%= text_field_tag(:username) %>
    <br />  
    <br />  
    
    <%= label_tag(:email, "E-mail: ") %>
    <%= email_field(:user, :email) %>
    <br />
    <br />  
    
    <%= label_tag(:password, "Password: ") %>
    <%= password_field_tag(:password) %>
    <br />
    <br />  
    <%= submit_tag("Create") %>
  <% end %>
<%
=end%>

<%= form_for @user do |f| %>
 <div>
    <%= f.label :username, 'Your user name here' %>
    <%= f.text_field :username, default_value: 'Enter name', required: 'required' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'email@email.com', required: 'required' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: 'required' %>
  </div>
  <br/>
  <%= f.submit 'Update' %>

<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
